<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>
  </title>
</head>

<body class="container">
  <header>
    <div class="p-3 mb-2 bg-dark text-white">
      <h1 class="display-4">
        総合
      </h1>
    </div>
  </header>
<hr>
<div class="text-center">
  <h3 class="p-3 mb-2 bg-primary text-white">試合速報(<%- month%>/<%- day%>)</h3>
</div>
<div class="text-center">
  <h4 class="p-3 mb-2 bg-success text-white">セントラル・リーグ</h4>
</div>
<div class="text-center">
  <h3>試合1</h3>
</div>
<table class="table">
  <%- contentl1%>
</table>
<br>
<div class="text-center">
  <h3>試合2</h3>
</div>
<table class="table">
  <%- contentc1%>
</table>
<br>
<div class="text-center">
  <h3>試合3</h3>
</div>
<table class="table">
  <%- contentr1%>
</table>
<br>
<div class="text-center">
  <h4 class="p-3 mb-2 bg-info text-white">パシフィック・リーグ</h4>
</div>
<div class="text-center">
  <h3>試合4</h3>
</div>
<table class="table">
  <%- contentl2%>
</table>
<br>
<div class="text-center">
  <h3>試合5</h3>
</div>
<table class="table">
  <%- contentc2%>
</table>
<br>
<div class="text-center">
  <h3>試合6</h3>
</div>
<table class="table">
  <%- contentr2%>
</table>
<br>
<!--スクレイピング内容???-->
<hr>
  <div class="text-center">
    <div class="p-3 mb-2 bg-secondary text-white"><a href="./baseball/m5"><h3>年間試合日程へ</h3></a></div>
    <div class="p-3 mb-2 bg-secondary text-white"><a href="./baseball/juni"><h3>順位表へ</h3></a></div>
    <div class="p-3 mb-2 bg-secondary text-white"><a href="./baseball/seiseki"><h3>選手一覧へ</h3></a></div>
  </div>



  <div role="main">
    <table class="table">
    </table>
  </div>
</body>

</html>